.advantage {
    max-width: 1200px;
    margin: 0 auto;
    &-title {
        h2 {
            font-size: 30px;
            color: #2b2b2b;
            font-family: "Montserrat", serif;
            margin: 45px 0;
            text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            letter-spacing: 1px;
        }
    }
    
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &-item {
            color: #000;
            display: flex;
            width: 355px;
            align-items: start;
            font-family: "Montserrat", serif;
            margin: 10px;
            &-image {
                margin-right: 20px;
                img {
                    width: 60px;
                }
            }
            &-text {
                h3 {
                    margin: 10px 0;
                    margin-top: 0;
                }
                span {
                    color: #636161;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .advantage {
        &-title {
            margin-left: 25px;
            h2 {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 992px) {
    .advantage {
        &__list {
            &-item {
                width: 250px;
                &-image {
                    img {
                        width: 50px;
                    }
                }
                &-text {
                    &-title {
                        h3 {
                            font-size: 16px;
                        }
                    }
                    &-descr {
                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .advantage {
        &-title {
            text-align: center;
            margin-left: 0;
            h2 {
                font-size: 24px;
            }
        }
        &__list {
            &-item {
                width: 80%;
                margin: 15px 0;
                &-image {
                    margin-top: 10px;
                    img {
                        width: 60px;
                    }
                }
                &-text {
                    &-title {
                        h3 {
                            font-size: 18px;
                        }
                    }
                    &-descr {
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 476px) {
    .advantage {
        &-title {
            h2 {
                margin-bottom: 15px;
                font-size: 24px;
            }
        }
        &__list {
            &-item {
                width: 90%;
            }
        }
    }
}