.list-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__bg {
        background-color: #2b2b2b;
        width: 100%;
        height: 100px;
        display: flex;
        padding: 20px 0;
        justify-content: center;
        &-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 1200px;
            font-family: "Montserrat", serif;
            h1 {
                letter-spacing: 1px;
                margin: 5px 0;
            }
            &-link {
                font-family: "Montserrat", serif;
                text-decoration: none;
                color: #fff;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
                cursor: pointer;
                p {
                    margin-left: 5px;
                    font-weight: 700;
                    border-bottom: 1px solid #fff;
                    cursor: default;
                }
            }
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        &-list {
            width: 1200px;
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 40px;
            row-gap: 30px;
            &-item {
                background-color: #2b2b2b;
                box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.884);
                width: 350px;
                border-radius: 10px;
                font-family: "Montserrat", serif;
                margin: 20px 0;
                .list-services-img {
                    img {
                        width: 350px;
                        min-height: 233px;
                        border-radius: 10px 10px 0 0;
                    }
                }
                .list-services-subtitle {
                    height: 120px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    h2 {
                        margin: 0;
                        font-size: 22px;
                    }
                }
                .list-services-btn {
                    padding-bottom: 20px;
                    padding-left: 15px;
                    display: flex;
                    justify-content: center;
                    &-link {
                        padding: 10px 30px;
                        text-decoration: none;
                        color: #fff;
                        font-size: 18px;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        background-color: #ff4d4d;
                        font-family: "Montserrat", serif;
                        letter-spacing: 1px;
                        font-weight: 700;
                        cursor: pointer;
                        transition: background-color 0.5s ease;
                        transition: color 0.5s ease;
                        &:hover {
                            background-color: #dbd8d8;
                            color: #2b2b2b;
                        }
                    }
                }
            }
        }
        &-contact {
            width: 1200px;
            margin: 0 auto;
            margin-bottom: 40px;
            &-title {
                color: #2b2b2b;
                h2 {
                    font-family: "Montserrat", serif;
                    font-size: 30px;
                    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                }
            }
            &-wrap {
                font-family: "Montserrat", serif;
                color: #2b2b2b;
                display: flex;
                justify-content: space-between;
                &-location, &-schedule, &-number {
                    display: flex;
                    align-items: center;
                }
                span {
                    font-size: 20px;
                }
                .list-services-icon {
                    margin-right: 15px;
                    font-size: 32px;
                    color: #ff4d4d;
                }
            }
        }
    }
}

@media (max-width: 1200px)  {
    .list-services {
        &__bg {
            &-title {
                padding-left: 20px;
            }
        }
        &__container {
            display: block;
            margin: 0 auto;
            &-list {
                width: 950px;
                justify-content: space-around;
            }
            &-contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: auto;
                &-title {
                    text-align: center;
                }
                &-wrap {
                    flex-direction: column;
                    align-items: center;
                    width: 80%;
                    span {
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px)  {
    .list-services {
        &__container {
            &-list {
                width: 100%;
            }
            &-contact {
                width: 550px
                // &-wrap {
                //     width: 80%;
                // }
            }
        }
    }
}

@media (max-width: 576px)  {
    .list-services {
        &__bg {
            &-title {
                h1 {
                    font-size: 22px
                }
            }
        }
        &__container {
            &-list {
                width: 100%;
                &-item {
                    width: 310px;
                    .list-services-img {
                        img {
                            width: 310px;
                        }
                    }
                    .list-services-subtitle {
                        h2 {
                            font-size: 20px;
                        }
                    }
                }
            }
            &-contact {
                width: 100%;
                &-wrap {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 468px)  {
    .list-services {
        &__container {
            &-contact {
                &-wrap {
                    width: 90%;
                    display: block;
                    span {
                        font-size: 18px;
                    }
                }
            }
        }    
    }
    
}