.selected {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__bg {
        background-color: #2b2b2b;
        width: 100%;
        height: 100px;
        display: flex;
        padding: 20px 0;
        justify-content: center;
        &-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 1200px;
            font-family: "Montserrat", serif;
            h1 {
                letter-spacing: 1px;
                margin: 5px 0;
            }
            &-link {
                font-family: "Montserrat", serif;
                text-decoration: none;
                color: #fff;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: 14px;
                p {
                    margin-left: 5px;
                    font-weight: 700;
                    border-bottom: 1px solid #fff;
                    cursor: default;
                }
            }
        }
    }
    &__container {
        width: 1150px;
        &-title {
            color: #2b2b2b;
            h2 {
                font-family: "Montserrat", serif;
                margin:35px 0;
                font-size: 22px;
            }
            span {
                font-family: "Montserrat", serif;
                
            }
        }
        
        &-wrap {
            display: flex;
            margin: 35px 0;
            &-img {
                img {
                    width: 500px;
                }
            }
            &-descr {
                color: #2b2b2b;
                font-family: "Montserrat", serif;
                display: flex;
                flex-direction: column;
                span {
                    font-size: 20px;
                }
                button {
                    width: 240px;
                    margin-top: 35px;
                    padding: 10px 30px;
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    background-color: #ff4d4d;
                    font-family: "Montserrat", serif;
                    letter-spacing: 1px;
                    font-weight: 700;
                    cursor: pointer;
                    transition: background-color 0.5s ease;
                    transition: color 0.5s ease;
                    &:hover {
                        background-color: #2b2b2b;
                        color: #dbd8d8;
                    }
                }
            }
        }
    }
}

.selected__container-table {
    margin: 40px;
    overflow-x: auto;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    color: #2b2b2b;
    border: 1px solid #2b2b2b;
}

th, td {
    padding: 10px;
    border: 1px solid #2b2b2b;
    color: #2b2b2b;
    font-family: "Montserrat", serif;
}

th {
    background-color: #ff4d4d;
    font-weight: bold;
    color: #fff;
    font-family: "Montserrat", serif;
}

@media (max-width: 768px) {
    th, td {
        padding: 8px;
    }

    table {
        font-size: 14px;
    }

    .selected__container-table {
        margin-top: 20px;
    }
}

@media (max-width: 1200px) {
    .selected__bg {
            &-title {
                padding-left: 20px;
            }
        }
    .selected__container {
        width: 950px;
    }
}

@media (max-width: 992px) {
    .selected__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-table {
            width: 90%;
        }
        &-title {
            width: 90%;
            text-align: center;
        }
        &-wrap {
            flex-direction: column-reverse;
            width: 60%;
            align-items: center;
            &-descr {
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
}

@media (max-width: 764px) {
    .selected__container {
        &-wrap {
            width: 80%;
            &-descr {
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
    .selected__bg-title {
        h1 {
            font-size: 18px;
        }
    }
}

@media (max-width: 576px) {
    .selected__container {
        &-wrap {
            width: 90%;
            &-img {
                img {
                    width: 100%;
                }
            }
            &-descr {
                span {
                    font-size: 16px;
                }
            }
        }
        &-title {
            width: 95%;
            span {
                font-size: 16px;
            }
        }
    }
}