.navigation {
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.658)), url(./9.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    &_container {
        width: 1200px;
        padding: 15px 0;
    }
    &-title {
        h2 {
            color: #fff;
            font-family: "Montserrat", serif;
            font-size: 35px;
            margin: 0;
        }
    }
    &-items {
        cursor: initial;
    }
    &-item {
        color: #fff;
        font-family: "Montserrat", serif;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
    }
    
}
.child {
    font-weight: 700;
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .navigation {
        &_container {
            margin-left: 55px;
        }
    }
}

@media (max-width: 768px) {
    .navigation {
        &-title {
            h2 {
                font-size: 30px;
            }
        }
        &-item {
            font-size: 19px;
        }
    }
}

@media (max-width: 576px) {
    .navigation {
        &_container {
            margin-left: 25px;
        }
        &-title {
            h2 {
                font-size: 26px;
            }
        }
        &-item {
            font-size: 19px;
        }
    }
}

@media (max-width: 476px) {
    .navigation {
        padding: 5px 0;
        &_container {
            margin-left: 10px;
        }
    }
}