.service {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    &-title {
        color: #000;
        padding-bottom: 20px;
        h2 {
            font-family: "Montserrat", serif;
            color: #2b2b2b;
            text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            font-size: 30px;
            letter-spacing: 1px;
        }
    }
    &-container {
        width: 1200px;
    }
    &-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &-card {
        position: relative;
        overflow: hidden;
        width: 550px; // Укажи нужную ширину
        height: 250px; // И высоту
        border-radius: 10px;
        cursor: pointer;
        margin: 20px;
    
        .service-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .service-subtitle {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px; // По умолчанию небольшая высота
            background: rgba(0, 0, 0, 0.7);
            font-family: "Montserrat", serif;
            color: #fff;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
            transition: height 0.3s ease-in-out;
        }
    
        &:hover .service-subtitle {
            height: 100%; // При наведении шторка на всю высоту
        }
    }
}
  

@media (max-width: 1200px) {
    .service {
        &-container {
            width: 100%;
        }
        &-card {
            width: 450px;
            height: auto;
        }
        &-title {
            margin-left: 25px;
        }
    }
}

@media (max-width: 992px) {
    .service {
        &-card {
            width: 340px;
            height: auto;
        }
        &-title {
            margin-left: 25px;
        }
    }
    .service-subtitle {
        height: 80px !important;
    }
}

@media (max-width: 768px) {
    .service {
        &-card {
            width: 80%;
            height: auto;
        }
        &-title {
            margin-left: 0;
            text-align: center;
            h2 {
                font-size: 30px;
            }
        }
    }
    .service-subtitle {
        height: 40px !important;
    }
}

@media (max-width: 576px) {
    .service {
        &-card {
            width: 90%;
            height: auto;
        }
        &-title {
            h2 {
                font-size: 26px;
            }
        }
    }
    .service-subtitle {
        height: 50px !important;
    }
}

@media (max-width: 474px) {
    .service-subtitle {
        font-size: 19px !important;
    }
    .service {
        &-title {
            h2 {
                font-size: 24px;
            }
        }
    }
}