.feedback {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    position: relative;
    background: url(../../images/feedback/2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__preview {
        // margin-top: 20px;
        span {
            font-family: "Orbitron", serif;
            color: #fff;
            letter-spacing: 1px;
            font-size: 20px;
            font-weight: 400;
        }    
    }
    &__container {
        width: 1200px;
        &-block {
            background-color: #413f3fd3;
            display: flex;
            &-advantage {
                width: 650px;
                padding: 30px 30px;
                &-title {
                    h2 {
                        font-family: "Montserrat", serif;
                        font-size: 30px;
                        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                        text-transform: uppercase;
                    }
                }
                &-descr {
                    span {
                        font-family: "Montserrat", serif;
                        font-size: 20px;

                    }
                }
                &-list {
                    border: 1px solid #fff;
                    padding: 10px 15px;
                    margin-top: 40px;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                    &-item {
                        margin-bottom: 5px;
                        font-size: 18px;
                        &-check {
                            padding-right: 10px;
                            color: rgb(243, 72, 72);
                        }
                    }
                } 
                &-phone {
                    margin-top: 40px;
                    &-title {
                        h3 {
                            font-family: "Montserrat", serif;
                            font-size: 20px;
                        }
                    }
                    &-icon {
                        font-size: 26px;
                        margin-right: 20px;
                    }
                    a {
                        font-size: 26px;
                        font-family: "Montserrat", serif;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
            &-forms {
                width: 550px;
                &-wrap {
                    margin-top: 80px;
                    &-title {
                        h3 {
                            font-family: "Montserrat", serif;
                            font-size: 26px;
                        }
                    }
                    &-descr {
                        span {
                            font-family: "Montserrat", serif;
                            font-size: 18px;
                        }
                    }
                    &-field {
                        margin-top: 50px;
                        width: 90%;
                        background-color: #e2dfdf;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 30px 0;
                        border-radius: 12px;
                        &-phone, &-input {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 20px;
                            input {
                                width: 85%;
                                height: 50px;
                                border-radius: 10px;
                                border: 1.5px solid #444444;
                                outline: none;
                                padding-left: 15px;
                                font-size: 18px;
                                color: #161616;
                                letter-spacing: 1px;
                                font-family: "Montserrat", serif;
                                background: none;
                                
                                &::placeholder {
                                    color: #2e2d2d;
                                }
                            }
                        }
                        &-problem {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            textarea {
                                width: 85%;
                                height: 100px;
                                font-family: "Montserrat", serif;
                                padding-left: 15px;
                                font-size: 18px;
                                color: #161616;
                                border: 1.5px solid #444444;
                                border-radius: 10px;
                                letter-spacing: 1px;
                                outline: none;
                                background: none;
                                &::placeholder {
                                    color: #2e2d2d;
                                }
                            }
                        }
                        &-submit {
                            margin-top: 40px;
                            button {
                                padding: 10px 30px;
                                font-size: 22px;
                                border-radius: 10px;
                                border: none;
                                outline: none;
                                background-color: #ff4d4d;
                                font-family: "Montserrat", serif;
                                letter-spacing: 1px;
                                font-weight: 700;
                                cursor: pointer;
                                transition: background-color 0.5s ease;
                                &:hover {
                                    background-color: #2b2b2b;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}