.footer {
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    &-icon {
        font-size: 20px;
    }
    &__container {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        &-info, &-services, &-contact {
            width: 30%;
            font-family: "Montserrat", serif;
            &-list {
                display: flex;
                flex-direction: column;
                span {
                    padding-left: 10px;
                }
                &-link {
                    margin: 5px 0;
                    padding-left: 10px;
                    font-size: 16px;
                    cursor: pointer;
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &-item {
                    margin: 5px 0;
                    padding-left: 10px;
                }
            }
            h4 {
                text-transform: uppercase;
                border-bottom: 1px solid #ffffffb7;
                padding-left: 10px;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .footer {
        &__container {
            justify-content: space-around;
            &-info, &-services, &-contact {
                width: 20%;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__container {
            flex-direction: column;
            align-items: center;
            &-info, &-services, &-contact {
                width: 50%;
                span {
                    font-size: 18px;
                }
                h4 {
                    text-align: center;
                }
            }
            &-contact-list-item {
                span {
                    font-size: 18px;
                } 
            }
        }
    }
}

@media (max-width: 576px) {
    .footer {
        &__container {
            &-info, &-services, &-contact {
                width: 70%;
                span {
                    font-size: 18px;
                }
            }
            &-contact-list-item {
                span {
                    font-size: 18px;
                } 
            }
        }
    }
}