.shares {
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &-list {
            margin-top: 25px;
            &-item {
                color: #000;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-bottom: -5px;
                &-img {
                    width: 50%;
                    img {
                        width: 100%;
                    }
                }
                &-text {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    &-title {
                        padding: 0 20px;
                        font-family: "Montserrat", serif;
                        font-size: 26px;
                    }
                    &-descr {
                        padding: 0 20px;
                        font-family: "Montserrat", serif;
                        font-size: 20px;

                    }
                    &-btn {
                        display: flex;
                        justify-content: center;
                        margin-top: 40px;
                        button {
                            margin-top: 20px;
                            width: auto;
                            padding: 15px 30px;
                            font-size: 20px;
                            border-radius: 10px;
                            border: none;
                            outline: none;
                            background-color: #ff4d4d;
                            font-family: "Montserrat", serif;
                            letter-spacing: 1px;
                            font-weight: 700;
                            cursor: pointer;
                            text-decoration: none;
                            color: #fff;
                            transition: background-color 0.5s ease;
                            &:hover {
                                background-color: #2b2b2b;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .shares {
        &__container {
            width: 990px;
            &-list {
                &-item {
                    &-text {
                        &-title {
                            font-size: 22px;
                        }
                        &-descr {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .shares {
        &__container {
            width: 760px;
            &-list {
                &-item {
                    &-text {
                        &-title {
                            font-size: 20px;
                            margin: 0;
                            padding: 0 10px;
                        }
                        &-descr {
                            font-size: 14px;
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .shares {
        &__container {
            width: 90%;
            &-list {
                margin-top: 0;
                &-item {
                    flex-direction: column;
                    margin: 20px 0;
                    &-text {
                        width: 80%;
                        text-align: center;
                        margin-bottom: 10px;
                        &-title {
                            font-size: 22px;
                            margin: 0;
                            padding: 0 10px;
                        }
                        &-descr {
                            font-size: 16px;
                            padding: 0 10px;
                        }
                        &-btn {
                            margin-top: 20px;
                        }
                    }
                    &-img {
                        width: 80%;
                    }
                }
            }
        }
        .reverse {
            flex-direction: column-reverse;
        }
    }
}

@media (max-width: 576px) {
    .shares {
        &__container {
            width: 95%;
            &-list {
                &-item {
                    &-text {
                        width: 90%;
                        &-title {
                            font-size: 22px;
                            margin: 0;
                            padding: 0 10px;
                        }
                        &-descr {
                            font-size: 16px;
                            padding: 0 10px;
                        }
                        &-btn {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 476px) {
    .shares {
        &__container {
            &-list {
                &-item {
                    &-text {
                        width: 95%;
                        &-title {
                            font-size: 20px;
                        }
                        &-descr {
                            font-size: 14px;
                        }
                        &-btn {
                            button {
                                font-size: 18px;
                            }
                        }
                        
                    }
                    &-img {
                        width: 90%;
                    }
                }
            }
        }
    }
}